export SPRING_CLOUD_GCP_PUBSUB_PROJECT_ID="$(lpass show events-test-pubsub-credentials --notes | grep SPRING_CLOUD_GCP_PUBSUB_PROJECT_ID | cut -d' ' -f2)"
export SPRING_CLOUD_GCP_PUBSUB_CREDENTIALS_ENCODED_KEY="$(lpass show events-test-pubsub-credentials --notes | grep SPRING_CLOUD_GCP_PUBSUB_CREDENTIALS_ENCODED_KEY | cut -d' ' -f2)"
