export SPRING_CLOUD_GCP_PUBSUB_PROJECT_ID="$(get-k8s-concourse-secret boclips events pubsub-project)"
export SPRING_CLOUD_GCP_PUBSUB_CREDENTIALS_ENCODED_KEY="$(get-k8s-concourse-secret boclips events pubsub-key)"
